
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Ubuntu&display=swap');
@font-face {
    font-family: 'Next Sunday';
    src: 
        url(Next-Sunday.otf) format('opentype');
}
@font-face {
    font-family: 'Judymlky';
    src: 
        url(Judymlky-Regular.ttf) format('opentype');
}

*{
    padding: 0px;
    margin: 0px;
}
.container{
    font-family: 'Next Sunday', Fallback, sans-serif;
    font-size: medium;
}
.header{
    position: sticky;
    display: block;
    border: 2px solid #9d6583;
    background-color: #f2b8db;
    height: 10vh;
    width: 100vw;
}
.header img{
    display: inline;
    height: 50px;
    width: 50px;
    border: 2px solid #b06c8e;
    border-radius: 360px;
    margin-left: 4vw;
    margin-top: 1vh;
}
#navbar{
    float: right;
}
#links{
    display: inline-block;
    padding: 1vw;  
}

#links a{
    text-decoration: none;
    font-size: larger;
    color: rgb(157, 49, 76);
    font-family: 'Judymlky', Fallback, sans-serif;

}

.banner{
    display: block;
    position: absolute;
    background-image: url(cutie.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100.3vw;
    height: 100%;
}


.title{
    color: rgb(210, 83, 149);
    font-family: 'Next Sunday', Fallback, sans-serif;
    font-size: 2em;
    margin: 20vh;
    margin-right: 50vh;

}
.title h1{
    display:inline;
}
#name{
    display: inline;
    color: #ef2f8f;
}

.title p{
    margin-top: 4px;
    color: rgb(178, 97, 139);
    font-size: 0.9em;
}
.title a{
    display: inline-block;
    background-color: #f2b8db;
    border: 2px solid #9d6583;
    padding: 1vw;
    text-decoration: none;
    color: rgb(210, 83, 149);
    font-size: x-large;
    font-family: 'Next Sunday', Fallback, sans-serif;
}

.footer{
    display: block;
    position: fixed;
    border: 2px solid #9d6583;
    background-color: #f2b8db;
    height: 10vh;
    width: 100vw;
    margin-top: 120vh;
    bottom: 0px;
}
.footer p{
    display: inline-block;
    font-size: 1.2em;
    padding-top: 3vh;
    padding-left: 3vh;
    color: rgb(210, 83, 149);

}
.footer img{
    display: inline;
    float: right;
    height: 40px;
    width: 40px;
    margin-top: 1vh;
    margin-right: 4vw;
}